.div__contain--nucleo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.div__contain--subnucleo{
    width: 80%;
    height: auto;
}


.div__contain--home2 {
    width: 100%;
    height: 100vh;
    background-color: black;
    /*background-image: url("../assets/pexels-photo-1624496.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: grid;
    justify-items: center;    
}

.section2__article {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section2__article h3{
    font-size: 3rem;
}

.section2__article P{
    padding-top: 2%;
    font-size: 2rem;
}

.div__contain--proyects {
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    
    
}

.contain__proyect--personal{

    background-image: url("../assets/pexels-photo-1624496.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 260px;
    height: 360px;
    border-radius: 6px;
    margin: 12px;

}

.contain__proyect--personal:hover{
   transform: scale(1.1);
}

div#info {
    position:absolute;
    overflow:hidden;
    width: 260px;
    height: 360px;
    background-color: rgba(1, 13, 21, 0.9);
    opacity:0;
    transition: opacity 0.3s;   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
    
  }

  .contain__proyect--personal:hover div#info {
    opacity:1;
  }

  p#headline {
    position: absolute;
    font-size: 5rem;
    transition: margin-left 0.3s;
    color: white;
    margin-bottom: 20px;

  }

  .contain__proyect--personal:hover p#headline {
    margin-left: 55px;
  }

  ul#descripcion {
    font-size: 2rem;
    text-align: center;
    transition: margin-top 0.4s;
    color: white;

  }
  
  .contain__proyect--personal:hover ul#descripcion {
     margin-top: 100px;
  }




/*div#imagen {
    width: 260px;
    height: 360px;
    background-image: url("../assets/pexels-photo-1624496.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 30px auto;
  }*/
